header{
	background: linear-gradient(to right , #314173 10%,#393952 100%);
	
	
}
header h1,a{
	color: #FFFFFF!important;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
html{
	height:100%;
	background-color: #314173;
}
*{
	touch-action: none; 
}
/* 404样式 */
.err{
	position: absolute;
	width: 100%;
	top: 45px;
	bottom: 0;
	background: #FFFFFF;
	z-index: 99999;
	display: none;
	
}
.err img{
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	
}
